#partie {
}

@font-face {
font-family: Mopster;
src: url("Mopster-Regular.otf") format("opentype");
}
html{
  margin: 0;
 /* overflow-x: hidden; */
  padding: 0;
}
h1{
    color: #459CE4;
    font-family: Mopster;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 43px;
}
header img.help{
  display: inline;
  cursor: pointer;
  padding-bottom: 3px;
}
header img.robot{
  float: left;
  left: 43px;
  position: absolute;
  margin-top: 27px;
}

h1.logged{
  font-family: Arial;
  font-size: 20px;
}
.nameP{
  font-size: 30px;
  font-family: 'Special Elite', cursive;
  text-transform: uppercase;
}
h2{
  color: gray;
  margin-left: 200px;
  margin-top: -4px;
  margin-bottom: 50px;
  font-size: 16px;
}
body{
  background: white;
  height: 100%;
  font-family: 'Droid Sans', Helvetica, sans-serif;
  margin: 0;
}
header{
 background: none repeat scroll 0 0 #35384A;
    border-bottom: 1px solid gray;
    height: 136px;
    padding: 10px;
}
footer{
  border-top: 1px solid gray;
  margin-top:0px; 
  height: 50px;
  clear: both;
  font-family: 'Century Gothic', Helvetica, sans-serif;

}
section, footer{
  background: white;
  padding: 10px;
}
.joueurs{
  width: 35%;
  float:left;
  margin-left:20%;
  margin-bottom:60px;
}

.blueLabel{
  font-weight: bold;
  color:#459CE4;
}

.blueLabel span{
  color:#333;
}
#lesParticipants{
  margin-top:5px;
  list-style: none;
  padding:0;
  margin:0;
}

.infos{
  width: 35%;
  float:left;
  margin-left: 15px;
}

#identificationP{
  width: 35%;
  float:left;
  margin-left:20%;
}
#indic{
 background: none repeat scroll 0 0 #1ABC9C;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    height: auto;
    margin-left: 25%;
    padding: 10px;
    position: absolute;
    text-align: center;
    display: none;
    width: 50%;
    z-index: 2;
}
#error{
  width: 50%;
  height: auto;
  padding: 10px;
  margin-top: 35%;
  position: absolute;
  color: white;
  font-weight: bold;
  display: none;
  z-index: 2;
  border-radius: 5px;
  left: 25%;
  background-color: #be0a26;
  text-align: center;
} 
#partieRaphael{
  width: 80%;
  height: auto;
  max-width: 700px;
  margin: 0 auto;
  max-height: 700px;
}
label{
   display: inline-block;
    max-width: 350px;
    padding-right: 16px;
    text-align: right;
    width: 20%;
}
input{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    width: 200px;
    font-size: 14px;
    margin-right:20px;
    margin-bottom: 5px;
    height: 28px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}
#login{
  margin-left: 3px;
}
input:focus{
      border: 1px solid #1ABC9C;

}
.goGame{
	height: 39px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	background-color: #459CE4;
	box-shadow: 0px 3px 0px 0px #3293ba;
	vertical-align: middle;
	text-align: center;
	border: none;
	cursor: pointer;
	font-size: 16px;
	transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: white;
	border-radius: 3px;
}
.goGame:hover {
	background-color: #1baae3;
}
#helpDiv {
  display: none;
  width: 50%;
  height: auto;
  background-color: #407885;
  color: white;
  margin-left: 25%;
  padding: 10px;
  position: absolute;
  margin-top: -1px;
  opacity: 0.9;
  z-index: 2;
}
#helpDiv h3{
  margin: 0 auto;
}
#helpDiv .sec {
  font-weight: bold;
}
#lesParties li{
    background-color: gray;
    color: white;
    display: block;
    cursor:  pointer;
    padding-left: 25px;
    padding-right: 25px;
    height: 150px;
    border: 6px solid #f6f6f6;
    text-align: center;
    width: 100px;
    border-radius: 150px;
    transition: all 300ms linear;
    float: left;
    margin: 20px;
    margin-left: 50px;
}
#lesParties li:hover{
    border-color: #333;
    transform: scale(1.1);
}
#lesParties li:hover .subText{
      color: #000;
}

#lesParties li .name{
  padding-top: 30px;
  font-family: 'Special Elite', cursive;
  text-transform: uppercase;
  font-size: 25px;
  display: block;
}
#lesParties li .subText{
  display: block;
  padding-top: 15px;
}

#lesParties_label{
  display:block;
  padding-left:4.7%;
  margin:20px;
  color:#459CE4;
  font-weight: bold;
}


@media screen and (max-width: 500px){
  h1{
    font-size: 32px;
  }
  header img.robot{
      width: 130px;
      left: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 27px;
  }
  
    h2{
    margin-left: 0;
    margin-top: 30px;
  }
  h1{
    margin-left: 150px;
  }
  label{
    display: block;
    width: 100%;
    padding: 5px;
    text-align: left;
  }
}
@media screen and (max-width: 330px){
  header img.robot{
    width: 40%;
    left: 0;
  }
  h1{
    margin-left: 45%;
  }
  #lesParties{
    padding-left: 0px;

  }
  #lesParties li{
    margin: 0
  }
}

@media screen and (min-width: 1100px){
  #partieInfos {
        float: left;
	margin-left: 20px;
	width: 30%;
  }
  #partieRaphael {
    float: left;
    margin-top: 40px;
  }
  h2.logged{
    margin-left: 0;
    margin-top: 50px;
  }
  .infos{
    float: none;
  }
  #identificationP, .joueurs, .infos{
    width: auto;
    float: none;
    margin: 0;
  }
}