body{
	font-family: 'Lato', sans-serif;
}

#robotList{
	padding:10px;
	 margin: 0 auto;
    width: 70%;
	display: block
 }

#robotList .robot{
  display: block;
  padding:10px;
	}

#robotList .robotBlock, #robotList .robotDirection{
  width: auto;
  padding:10px;
  display: inline-block;
}

#robotList .robotBlock{
  margin-left: 25%;
}
#robotList .robotDirection{
    border: 1px solid gray;

}
#robotList .robotBlock img{
	width: 40px;
	cursor: pointer;
}
		
#robotList .robot .robotName{
  font-size: 20px;
}
#robotList .robot .robotDirection img{
  cursor: pointer;
    height: 31px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    width: 30px;
}

@media screen and (max-width: 330px){
  #robotList {
        width: 100%;
  }
}